body{
    background-color: #808080;
}
P{color:blue;
}
h1,h2,h3,h4,h5{
    color:yellow
}
#menu{
    border-style:solid;

}
.pics{
    border-radius:50%;
}
#menu p{
    colour: grey;

}
hi + .pics{
    border-radius:50%;
}
header {
    background-colour: #ffcccc;
    border: 1px solid #ff0000;
}