header {
    background-color:lightblue;
    padding: 20px;
    border:  solid black;
    margin: 20px;
}
#logo {
    width: 60px;
    height: 55px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: none;

}
#left-col{
    float: left;
    width: 50%;
}
#right-col{
    float: right;
    padding: 10px;

}

#bottom-col{
    float: left;
    width: 40%;
}

#top-col{
    float: left;
    width: 50%;
}

h1 {
    color: blue;
    
    
}

    p{
        color: lightblue;
    }
    p,h1,h2,h3,h4,h5,h6,p{
        color:black;
    }

    #menu {
        border-style: solid;
    }

    .pics {
        border-radius: 50%;
    }


    #menu p{
        color:yellow;
    }
body {
    background-color:whitesmoke ;
}



img {
    width: 400px;
    height: 400px;
    float: left;
    margin: 10px;
}

nav {
    margin-bottom: 5px;
}

nav ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav li {
    border:  solid lightblue;
    background-color: blue;
    list-style-type: none;
    float: left;
    width: 20%;
    padding: 5px;
  }

nav li a{
    color:white;
    text-align: center;
    text-decoration: None;
}

nav li:hover{
    background-color:black;
}

main {
    background-color: white;
    border: 3px solid whitesmoke;
}

#login{
    float: right;
    border: 5px;
   


}

#home-carousel {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

.carousel-item {
    height: 500px;
}

fieldset {
    border: 1px groove #ddd;
}