header {
    background-color:slategray;
    padding: 20px;
    border:  3px solid black;
    margin: 10px;
}
#logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;

}
#left-col{
    float: left;
    width: 50%;
}
#right-col{
    float: right;
    padding: 10px;

}

h1{
    color: black;
    display: inline;
}

    p,h2,h3,h4,h5,h6,p{
        color:black;
    }

    #menu {
        border-style: solid;
    }

    .pics {
        border-radius: 50%;
    }


    #menu p{
        color:yellow;
    }
body {
    background-color:whitesmoke ;
}



img {
    width: 400px;
    height: 400px;
    float: left;
    margin: 10px;
}

nav {
    margin-bottom: 5px;
}

nav ul {
    margin: 2px;
    overflow: hidden;
    padding: 0px;
}

nav li {
    border:  solid black;
    background-color: lightblue;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
    
  }

nav li a{
    color:white;
    text-align: center;
    text-decoration: None;
}

nav li:hover{
    background-color:black;
}

main {
    background-color: azure;
    border: 3px solid white;
}

#login{
    float: right;
    margin: 0px;
    margin-bottom: 20px;
   
    
}

#home-carousel {
    width: 50%;
    height: 60%;
    margin-left:auto;
    margin-right:auto;
}

.carousel-item {
    height: 600px;
    width: 600px;

}

fieldset {
    border: 3px groove gray;
    
}
